<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="{{url_for('static', filename='css/attraction.css')}}" />
    </head>

    <body onload="baseInit(); init();">
        {% extends "base.html" %}

        {% block body %}
        <div class="content">
            <div class="spot">

                <!-- images -->
                <div id="slideshow-container">
                    <a class="prev" onclick="plusSlides(-1)"><img src="{{url_for('static', filename='img/btn_leftArrow.png')}}"/></a>
                    <a class="next" onclick="plusSlides(1)"><img src="{{url_for('static', filename='img/btn_rightArrow.png')}}"/></a>
                
                    <div id="dots"></div>
                </div>

                <!-- order -->
                <div class="info-block">
                    <div id="name"></div>
                    <div class="info" class="text">
                        <span id="cat"></span> at <span id="mrt"></span>
                    </div>
                    <div class="order">
                        <div class="order-box title">訂購導覽行程</div>
                        <div class="order-box text">以此景點為中心的一日行程，帶您探索城市角落故事</div>
                        
                        <div class="order-box">
                            <div class="title">選擇日期：</div>
                            <input type="date"></input>
                        </div>
                        <div class="order-box">
                            <div class="title">選擇時間：</div>
                            <div class="text time-block">
                                <label class="time">
                                    <input type="radio" name="time" value="morning" checked="checked" onclick="changePrice(this.value);"/>
                                    <span class="checkmark"></span>
                                    上半天
                                </label>
                                &nbsp;
                                <label class="time">
                                    <input type="radio" name="time" value="afternoon" onclick="changePrice(this.value);"/>
                                    <span class="checkmark"></span>
                                    下半天
                                </label>                                 
                            </div>
                        </div>
                        <div class="order-box">
                            <div class="title">導覽費用：</div>
                            <div class="text">新台幣 <span id="price">2000</span> 元</div>
                        </div>
                        <button class="btn order-btn">開始預定行程</button>
                    </div>
                </div>
            </div>

            <hr/>

            <!-- info -->
            <div class="block text" id="description"></div>
            <div class="block">
                <div class="title">景點地址：</div>
                <div id="address" class="text"></div>
            </div>
            <div class="block">
                <div class="title">交通方式：</div>
                <div id="transport" class="text"></div>
            </div>
        </div>
        
        <script src="{{url_for('static', filename='js/attraction.js')}}"></script>
        {% endblock body %}
        
    </body>
</html>