<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="{{url_for('static', filename='css/index.css')}}" />
    </head>

    <body onload="baseInit(); indexInit();">
        {% extends "base.html" %}

        {% block body %}
        <div class="welcome">
            <div class="container">
                <div class="slogan">
                    <div id="slogan-header">輕鬆享受台北一日悠閒</div>
                    <div id="slogan-body">探索每個角落，體驗城市的深度旅遊行程</div>
                    <form class="search" onsubmit="searchKeyword(); return false;">
                        <input id="search-word" class="search-input" type="text" placeholder="輸入景點名稱查詢"></input>
                        <button class="search-btn" type="submit"><img id="search-img" src="{{url_for('static', filename='img/icon_search.png')}}" /></button>
                    </form>
                </div>
                <div id="welcome-img"><img src="{{url_for('static', filename='img/welcome 1.png')}}" /></div>
            </div>
        </div>

        <div id="content" class="content"></div>

        <div id="loading" class="lds-ring hide"><div></div><div></div><div></div><div></div></div>
        
        <div class="observer"></div>

        <script src="{{url_for('static', filename='js/index.js')}}"></script>
        {% endblock body %}
        
    </body>
</html>