<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="{{url_for('static', filename='css/thankyou.css')}}" />
    </head>

    <body onload="baseInit(); thankyouInit();">
        {% extends "base.html" %}

        {% block body %}
        <div id="content" class="hide">
            <div class="thankyou-title">付款成功，感謝您的訂購！</div>
            <div class="text">您的訂單號碼為 <span id="order-number"></span> ，訂單內容可至會員中心確認。</div>
        </div>
        

        <script src="{{url_for('static', filename='js/thankyou.js')}}"></script>
        {% endblock body %}
        
    </body>
</html>