@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+TC&display=swap');

/* base */
*{box-sizing: border-box;}

html{height: 100%;}

body{
    height: 100%;
    margin: 0;
    font-family: 'Noto Sans TC', sans-serif;
    color: #666666;
}

.container{
    display: inline-flex;
    justify-content: space-between;
    align-items: center;
    flex: none;
    width: 1200px;
}

.title{
    line-height: 32px;
    font-size: 16px;
    font-weight: bold;
}

.text{
    line-height: 24px;
    font-size: 16px;
}

.bold{
    font-weight: bold;
}

hr{
    border: 1px solid #E8E8E8;
}

.btn{
    cursor: pointer;
    height: 36px;
    background: #448899;
    border-style: none;
    border-radius: 5px;
    font-size: 19px;
    text-align: center;
    padding: 0 20px;
    color: #FFFFFF;
}

.hide{display: none;}

/* header */
.header{
    position: fixed;
    top: 0;
    z-index: 3;
    display: flex;
    justify-content: center;
    width: 100%;
    height: 54px;
    border-bottom: 1px solid #E8E8E8;
    background: #FFFFFF;
}

.web-title{
    cursor: pointer;
    flex: none;
    text-align: left;
    font-size: 30px;
    font-weight: bold;
    color: #448899;
}

.menu{
    display: flex;
    justify-content: flex-end;
    flex: none;
}

li{
    cursor: pointer;
    list-style: none;
    flex: none;
    width: 100px;
    font-size: 16px;
    text-align: center;
    color: #666666;
}

/* sign */
#modal{
    position: fixed;
    top: 0;
    left: 0;
    z-index: 5;
    width: 100%;
    height: 100%;
    background:rgba(0, 0, 0, 0.25);
    animation: fadebackground 0.5s;
}

@keyframes fadebackground {
    from {opacity: 0;}
    to {opacity:1 ;}
}

.sign{
    position: fixed;
    top: 80px;
    left: 0;
    right: 0;
    z-index: 7;
    width: 340px;
    margin: auto;
    background: #FFFFFF;
    box-shadow: 0px 4px 60px #AAAAAA;
    border-radius: 6px;
    padding-bottom: 10px;
}


.slidein{
    animation: appear 0.5s;
    animation-fill-mode: forwards;
}

@keyframes appear {
    from {top: 0;}
}

.sign-border{
    height: 10px;
    background: linear-gradient(270deg, #337788 0%, #66AABB 100%);
    border-radius: 6px 6px 0 0;
}

.sign-title{
    margin: 15px;
    font-size: 24px;
    font-weight: bold;
}

.close{
    cursor: pointer;
    position: absolute;
    top: 27px;
    right: 17px;
    background: none;
    border: none;
    padding: 0;
    width: 16px;
    height: 16px;
}

.sign-input{
    width: 310px;
    height: 47px;
    margin: 0 auto 10px auto;
    background: #FFFFFF;
    border: 1px solid #CCCCCC;
    border-radius: 5px;
    padding-left: 15px;
}

.sign-btn{
    width: 310px;
    height: 47px;
    margin-bottom: 10px;
}

#signin-msg, #signup-msg{
    margin-bottom: 10px;
    color: #CF4B49;
}

#open-signup, #open-signin{
    cursor: pointer;
    text-decoration: underline;
}

/* footer */
.footer{
    width: 100%;
    height: 104px;
    line-height: 104px;
    background: #757575;
    box-shadow: 0 100vh 0 100vh #757575;
    font-size: 16px;
    font-weight: bold;
    text-align: center;
    color: #FFFFFF;
}

@media screen and (min-width: 600px) and (max-width: 1400px){
    .container{width: 90%;}
}

@media screen and (max-width: 600px){
    .container{width: 92%}

    li{
        width: 72px;
        margin-right: 5px;
    }
}