<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="{{url_for('static', filename='css/booking.css')}}" />
    </head>

    <body onload="baseInit(); repayInit();">
        {% extends "base.html" %}

        {% block body %}
        
        <div id="content">
            
            <div class="block">
                <div id="top" class="booking-title hide">您好，<span id="name"></span>，訂單號碼 <span id="order-number"></span> 欲重新付款的行程如下：</div>
            </div>
            <div id="booking" class="hide">
                <div class="block">
                    <div class="attraction">
                        <div class="image"><image id="image"/></div>
                        <div class="info">
                            <div class="attraction-title">台北一日遊：<span id="attraction-name"></span></div>
                            <div class="booking-box">
                                <div class="title">日期： </div>
                                <div id="date" class="text"></div>
                            </div>
                            <div class="booking-box">
                                <div class="title">時間： </div>
                                <div id="time" class="text"></div>
                            </div>
                            <div class="booking-box">
                                <div class="title">費用： </div>
                                <div class="text">新台幣 <span id="price"></span> 元</div>
                            </div>
                            <div class="booking-box">
                                <div class="title">地點： </div>
                                <div id="address" class="text"></div>
                            </div>
                        </div>
                    </div>
                </div>
    
                <hr/>
    
                <form class="block">
                    <div class="booking-title">您的聯絡資訊</div>
                    <div class="input-box">
                        <div class="text">聯絡姓名： </div>
                        <div id="contact-name"></div>
                    </div>
                    <div class="input-box">
                        <div class="text">聯絡信箱： </div>
                        <div id="contact-email"></div>
                    </div>
                    <div class="input-box">
                        <div class="text">手機號碼： </div>
                        <div id="contact-phone"></div>
                    </div>
                    
                    <div class="text bold">若需修改聯絡方式，請重新預定行程。</div>
                </form>
    
                <hr/>
    
                <form class="block">
                    <div class="booking-title">信用卡付款資訊</div>
                    <div class="input-box">
                        <div class="text">卡片號碼： </div>
                        <div id="card-number" class="tpfield"></div>
                        <div id="number-msg" class="order-msg"></div>
                    </div>
                    <div class="input-box">
                        <div class="text">過期時間： </div>
                        <div id="card-expiration-date" class="tpfield"></div>
                        <div id="expiry-msg" class="order-msg"></div>
                    </div>
                    <div class="input-box">
                        <div class="text">驗證密碼： </div>
                        <div id="card-ccv" class="tpfield"></div>
                        <div id="ccv-msg" class="order-msg"></div>
                    </div>
                </form>
    
                <hr/>
    
                <div class="block bottom">
                    <div class="title">總價：新台幣 <span id="total-price"></span> 元</div>
                    <button id="repay-btn" class="btn">確認重新付款</button>
                    <div id="repay-msg"></div>
                </div>
            </div>
        </div>   

        <script src="https://js.tappaysdk.com/tpdirect/v5.8.0"></script>        
        <script src="{{url_for('static', filename='js/repay.js')}}"></script>
        <script src="{{url_for('static', filename='js/order.js')}}"></script>
        {% endblock body %}

    </body>
</html>